@use '../variables.scss' as *;

.animation--glow {
    transition: filter 300ms;
    will-change: filter;
}

.animation-glow:hover,
.animation-glow:focus,
.animation-glow:focus-visible {
    filter: drop-shadow(0 0 6px #a4508b);
    cursor: pointer;
}


.fade-in-bottom {
  opacity: 0;
  transform: translateY(75px);
}

.fade-in-bottom.visible {
  animation: fadeInBottom 1s ease-out forwards;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(75px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-moon {
  opacity: 0;
  transform: translateY(100px);
}

.fade-in-moon.visible {
  animation: fadeInMoon 3.5s ease-out forwards;
}

@keyframes fadeInMoon {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes planet-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swirl {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
