@use '../variables.scss' as *;

.dashboard {

  .MuiCard-root {
    background-color: $dashboard;
    border-radius: 10px;
    color: $white;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: inset 0 -20px 8px -8px rgba(51, 51, 51, 0.85);

    .MuiCardContent-root {
      padding: 20px;
    }

    h3 {
      color: $blue2;
      font-weight: bold;
    }
  }
}

.col.dashboard__menu {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;


  .dashboard__sticky-container {
    background-color: $dashboard;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: inset -15px 0 8px -8px rgba(0, 0, 0, 1);
  }

  svg {
    width: 1.25em;
    height: 1.25em;
  }

  svg:hover,
  svg:focus-visible {
    fill: $blue2;
  }
}

.dashboard__menu-top {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.dashboard__menu-bottom {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $white;
  gap: 1em;
  padding-top: 1em;
  margin-top: 1em;
}


.col.dashboard__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 1em;
}

.dashboard__card-project {
  color: $blue2;
}

.dashboard__card-footer {

  p {
    font-size: 14px;
    margin-top: 50px;
  }
}

.dashboard__card-filter {
    
  p {
    color: $blue2;
    font-size: 14px;
    font-weight: bold;
    margin-top: 50px;
  }
}


@media (min-width: 769px) {

  .dashboard {

    .MuiCard-root {
      max-height: 100%;
      box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.5);

      .MuiCardContent-root {
        padding: 40px;
      }
    }
  }

  .col.dashboard__menu {
    background-color: $dashboard;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 75px;
    height: 100%;

    .dashboard__sticky-container {
      position: fixed;

      background-color: $dashboard;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 1.25em;
      padding: 1.5em 0;
      max-width: 75px;
      width: 100%;
    }
  }

  .dashboard__menu-top {
    flex-direction: column;
    row-gap: 1.25em;
  }

  .dashboard__menu-bottom {
    flex-direction: column;
    row-gap: 1.25em;
    margin-top: 0;
  }

  .col.dashboard__card-wrapper {
    margin-top: 0;
  }
}