form {}

form > label {
    margin-top: 16px;
    font-style: italic;
    font-size: 16px;
}

form .radio-group label:hover,
form .radio-group input:hover {
    cursor: pointer;
}

form input[type="radio"] {
    font-size: 16px;
    flex-basis: 20px;
    accent-color: #a4508b;
    margin: 0;
    margin-right: 8px;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #242424;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
}

input[type="radio"]:checked {
  border-color: #fff;
  background: #333;
}

input[type="radio"]:hover {
}

input[type="radio"]::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #a4508b;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="radio"]:checked::after {
  opacity: 1;
}

form label {
    color: #fff;
    display: flex;
    align-items: center;
}

form .radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}

form .page-wrapper {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 769px) {

    form > label {
        font-size: 22px;
    }

    form .page-wrapper {
        font-size: 18px;
    }
}

form .asterisk {
  color: red;
  font-size: 18px;
  margin-left: 5px;
  margin-top: -5px;
}

form .required-message {
  width: 100%;
  text-align: right;
}

form .required-message span {
  font-size: 12px;
}