@use '../variables.scss' as *;

header {
  padding: 25px;
}

header span {
  font-size: 24px;
}

header a {
  color: $white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.5s;
}

header a:hover,
header a:focus-visible {
  color: $solar-flare;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.header-info {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 769px) {

  header {
    padding: 20px 50px;
  }

  header ul {
    gap: 30px;
    justify-content: flex-start;
  }

  .header-info {
    flex-direction: row;
  }
}