@use '../variables.scss' as *;

svg.MuiSvgIcon-root {
  transition: fill 0.25s linear;
}

svg.MuiSvgIcon-root:hover,
svg.MuiSvgIcon-root:focus,
svg.MuiSvgIcon-root:focus-visible {
  cursor: pointer;
}

.closeBtn {
  fill: #fff !important;
}

.closeBtn:hover,
.closeBtn:focus,
.closeBtn:focus-visible {
  transform: rotate(90deg) scale(1.25);
  transition: transform 0.5s !important;
}

.rocketIcon {
  margin-bottom: -4px;
  transform: rotate(-90deg);
  transition: transform 0.25s !important;
}

.rocketLaunchIcon {
    margin-bottom: -4px;
    transition: transform 0.25s !important;
}