@use '../variables.scss' as *;

.menu {

  li:has(.menu-dropdown) {
    position: relative;

    &:hover {

      .menu-dropdown {
        opacity: 1;
        display: block;
      }
    }

    a:focus,
    a:focus-visible {

      & + .menu-dropdown {
        opacity: 1;
        display: block;

      }
    }

    .menu-dropdown:has(a:focus),
    .menu-dropdown:has(a:focus-visible) {
      opacity: 1;
      display: block;
    }
  }
}

.menu-dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  background-color: $warm-pink;
  border-radius: 10px;
  padding: 0.5em;
  width: 200px;

  li {
    text-align: left;
  }

  li + li {
    border-top: 1px solid $white;
    margin-top: 0.5em;
    padding-top: 0.5em;
  }

  a {
    transition: border-bottom 0.15s;

    &:hover,
    &:focus,
    &:focus-visible {
      color: $white;
      border-bottom: 2px solid $white;
    }
  }
}

@media (min-width: 768px) {

  .menu-dropdown {  
    width: 350px;
  }
}