@use '../variables.scss' as *;

.planet-container {
  position: relative;
  width: 100%;
  padding: 0 10px;
}

.planet-wrapper {
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
}

.planet {
  border-radius: 50%;
  cursor: pointer;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
}


/* Planet Customization */

/* Galaxy & Surfaces */
.milkyway {
  box-shadow: 20px 12px 20px 10px rgba(179, 168, 195, 0.5);
}

.milkyway.solid {
  background: radial-gradient(circle at 35% 35%, $solar-flare, $solar-flare2 70%);
}

.milkyway.liquid {
  background: radial-gradient(circle at 30% 30%, $solar-flare, $solar-flare2 80%); 
  box-shadow:
    inset -10px 10px 30px rgba(255, 94, 0, 0.6),
    10px 12px 25px 12px rgba(204, 75, 0, 0.35),
    0 0 20px 6px rgba(179, 65, 0, 0.25);
  filter: contrast(1.1) brightness(1.05);
}

.milkyway.gas {
  background: repeating-linear-gradient(
    to bottom,
    #ff5e00 0%,
    #cc4b00 10%,
    #b34100 20%,
    #993800 30%,
    #ff5e00 40%
  );
}

.andromeda {
  box-shadow: 12px 8px 30px 10px rgba(165, 138, 191, 0.4);
}

.andromeda.solid {
  background: radial-gradient(circle at 35% 35%, $starlight-rose, $starlight-rose2 70%);
}

.andromeda.liquid {
  background: radial-gradient(circle at 30% 30%, $starlight-rose, $starlight-rose 80%); 
  box-shadow:
    inset -10px 10px 30px rgba(165, 138, 191, 0.6),
    10px 12px 25px 12px rgba(141, 107, 174, 0.35),
    0 0 20px 6px rgba(128, 91, 164, 0.25);
  filter: contrast(1.1) brightness(1.05);
}

.andromeda.gas {
  background: repeating-linear-gradient(
    to bottom,
    #a58abf 0%,
    #8d6bae 10%,
    #805ba4 20%,
    #735194 30%,
    #a58abf 40%
  );
}

.triangulum {
  box-shadow: 15px 10px 25px 10px rgba(107, 158, 203, 0.45);
}

.triangulum.solid {
  background: radial-gradient(circle at 35% 35%, $ion-blue, $ion-blue2 70%);
}

.triangulum.liquid {
  background: radial-gradient(circle at 30% 30%, $ion-blue, $ion-blue2 80%); 
  box-shadow:
    inset -10px 10px 30px rgba(107, 158, 203, 0.6),
    10px 12px 25px 12px rgba(85, 144, 195, 0.35),
    0 0 20px 6px rgba(66, 132, 189, 0.25);
  filter: contrast(1.1) brightness(1.05);
}

.triangulum.gas {
  background: repeating-linear-gradient(
    to bottom,
    #6b9ecb 0%,
    #5590c3 10%,
    #4284bd 20%,
    #3c76aa 30%,
    #6b9ecb 40%
  );
}

.whirlpool {
  box-shadow: 19px 11px 19px 10px rgba(30, 72, 48, 0.5);
}

.whirlpool.solid {
  background: radial-gradient(circle at 35% 35%, $corefire-green, $corefire-green2 70%);
}

.whirlpool.liquid {
  background: radial-gradient(circle at 30% 30%, $corefire-green, $corefire-green2 80%); 
  box-shadow:
    inset -10px 10px 30px rgba(0, 100, 80, 0.6),
    10px 12px 25px 12px rgba(0, 255, 150, 0.35),
    0 0 20px 6px rgba(0, 255, 120, 0.25);
  filter: contrast(1.1) brightness(1.05);
}

.whirlpool.gas {
  background: repeating-linear-gradient(
    to bottom,
    #3b8c5e 0%,   /* bright emerald */
    #2d6c48 10%,  /* medium forest */
    #265a3c 20%,  /* darker evergreen */
    #1e4830 30%,  /* deep pine */
    #3b8c5e 40%
  );
}

/* Size */
.small {
  max-width: 250px;
}

.medium {
  max-width: 500px;
}

.large {
  max-width: 750px;
}

/* Surface */
.solid {
  position: relative;
  overflow: hidden;
}

.solid::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 20%;
  width: 25px;
  height: 25px;
  /* background: radial-gradient(circle, rgba(30, 10, 0, 0.4), transparent 70%); */
  border-radius: 50%;
  box-shadow:
    40px -20px 0 rgba(0, 0, 0, 0.3),
    70px 30px 0 rgba(0, 0, 0, 0.2),
    100px -10px 0 rgba(0, 0, 0, 0.25);
}

.liquid.gas {
  background-size: 200% 200%;
  animation: swirl 20s ease-in-out infinite;
}

.planet:hover + .planet-results,
.planet:focus-visible + .planet-results {
  opacity: 0.85;
  cursor: pointer;
}

.planet.show-results + .planet-results {
  opacity: 0.85;
}

/* Planet Results */
.planet-results {
  background-color: $gray;
  border-radius: 18px;
  padding: 20px 15px;
  text-align: left;
  margin: 20px 0 0;

  /* Tooltip */
  /* visibility: hidden; */
  position: relative;
  z-index: 1;
  transition: opacity 0.75s;
}

.planet-results * {
  margin: 0;
}

.planet-results h3:not(:first-child) {
  margin-top: 20px;
}

.planet-results h3 + p {
  margin-top: 15px;
}

.planet-results p + p {
  margin-top: 10px;
}

.planet-results ul:first-of-type {
  margin-left: -8px;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

.planet-results li {
  display: flex;
}

.planet-results li + li {
  margin-top: 10px;
}

/* Resources */
.possible-resources {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  padding: 0;
}

.possible-resources li + li {
  margin-top: 0;
}

/* Animations */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swirl {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


@media (prefers-reduced-motion: no-preference) {
  .planet.small {
    animation: logo-spin infinite 10s linear;
  }

  .planet.medium {
    animation: logo-spin infinite 25s linear;
  }

  .planet.large {
    animation: logo-spin infinite 50s linear;
  }
}

@media (max-width: 768px) {

  .tooltip-hint {
    display: none;
  } 
}

@media (min-width: 769px) {

  .planet-container {
    display: flex;
    justify-content: center;
  }
  
  .planet-wrapper {
    padding: 80px 0 0;
  }

  .planet-results {
    opacity: 0;
    width: 350px;

    position: absolute;
    right: 25px;
    top: -10%;
    pointer-events: none;
  }
}

@media (min-width: 1025px) {

  .planet-results {
    width: 500px;
    right: 50px;
  }
}

@media (min-width: 1201px) {
  
  .planet-wrapper {
    padding: 100px 0 0;
  }

  .planet-results {
    padding: 50px;
  }
}