.todo-list-section {
	margin: 50px 0;

    .todo-app {
        background-color: $white;
        font-family: $serif;
        box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 20%);
        border-radius: 20px;
        margin: 0 auto;
        max-width: 1000px;
        padding: 20px;

        h3, ul, li, p {
            color: $gray;
            text-align: left;
        }

        .hint-text {
            margin: 30px 0 0;
            font-style: italic;
            font-size: 16px;
            color: $black;
        }
    }

    .todo-input-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        div,
        input {
            width: 100%;
            height: 50px;
        }

        input {
            border: none;
            background-color: $white;
            border-bottom: 1px solid $gray;
            color: $black;
            font-size: 20px;
            padding: 5px;
            cursor: pointer;

            &::placeholder {
                font-size: inherit;
            }
        }

        a {
            width: 100%;
            max-width: 125px;
            height: 50px;
        }
    }

    .todo-list {
        padding: 5px;
        margin: 30px 0 0;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        li + li {
            margin-top: 30px;
        }

        li span {
            cursor: pointer;
            font-family: $sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: 16px;
            transition: $primary-transition;

            &:hover,
            &:focus,
            &:focus-visible {
                color: $corefire-green;
            }
        }
    }

    a, input[type='submit'], a.btn {
        color: #fff;
        background-color: $blue2;
        font-weight: bold;
        text-decoration: none;
        padding: .5em .75em;
        border-radius: 8px;
        border: 2px solid $blue2;
        position: relative;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;
        margin-left: .25em;

        &:first-of-type, &:nth-of-type(3) {
            margin-left: 0;
        }

        &:hover, &:active, &:focus {
            background-color: $purple;
            border-color: $purple;
        }
    }

    @media (min-width: 768px) {

        .todo-input-wrapper {
            flex-wrap: nowrap;
        }
        
        .todo-app {
            padding: 30px;
        }

        .todo-list {
            margin: 40px 0 0;

            li span {
                font-size: 18px;
            }

            li + li {
                margin-top: 40px;
            }
        }
    }

    @media (min-width: 1024px) {

        .todo-app {
            padding: 50px;
        }

        .todo-list {
            margin: 50px 0 0;

            li span {
                font-size: 20px;
            }

            li + li {
                margin-top: 50px;
            }
        }
    }
}
