#root {
  color: $white;
  text-align: center;
  padding: 0;
  background: $black;
}

// Starfield Background
.starfield {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  animation: twinkle 2s infinite ease-in-out;
  box-shadow:
    /* START GENERATED STARS */
    3vw 12vh white, 7vw 90vh #ddd, 10vw 15vh #ccc, 14vw 32vh white, 18vw 77vh #eee,
    22vw 5vh #fff, 26vw 45vh #aaa, 30vw 80vh #ddd, 34vw 20vh #ccc, 38vw 65vh white,
    42vw 18vh #fff, 46vw 72vh #bbb, 50vw 12vh #eee, 54vw 48vh #ccc, 58vw 34vh #aaa,
    62vw 58vh #ddd, 66vw 83vh #fff, 70vw 10vh #ccc, 74vw 65vh white, 78vw 25vh #bbb,
    82vw 40vh #ddd, 86vw 30vh #eee, 90vw 75vh #fff, 94vw 17vh #ccc, 98vw 55vh white,
    1vw 22vh #ddd, 5vw 65vh #ccc, 9vw 38vh white, 13vw 12vh #aaa, 17vw 90vh #eee,
    21vw 7vh #fff, 25vw 42vh #ccc, 29vw 67vh #ddd, 33vw 28vh #bbb, 37vw 49vh white,
    41vw 15vh #ccc, 45vw 80vh #ddd, 49vw 19vh #aaa, 53vw 60vh #fff, 57vw 22vh #ccc,
    61vw 78vh white, 65vw 11vh #bbb, 69vw 50vh #ddd, 73vw 35vh #ccc, 77vw 70vh #eee,
    81vw 9vh #fff, 85vw 61vh white, 89vw 28vh #ccc, 93vw 48vh #ddd, 97vw 39vh #aaa,
    /* ... Add more for full effect ... */
    96vw 82vh #ccc, 44vw 21vh #eee, 61vw 46vh white, 28vw 88vh #ddd, 73vw 17vh #ccc,
    19vw 54vh #fff, 88vw 68vh white, 36vw 13vh #aaa, 52vw 73vh #ddd, 67vw 36vh #ccc;
    /* END GENERATED STARS */
}

@keyframes twinkle {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

// Main Styles
section {
  position: relative;
  padding: 50px 0;
}

body {
  margin: 0;
}

.planet-generator {
  padding: 100px 0 75px;
}

@media (min-width: 768px) {

  section {
    padding: 80px 0;
  }

  .planet-generator {
    padding: 125px 0 100px;
  }

  // Intro Section

}

@media (min-width: 1200px) {

  section {
    padding: 100px 0;
  }

  .planet-generator {
    padding: 200px 0 100px;
  }
}