@use './components/Animations.scss' as *;
@use './components/Icons.scss' as *;

// @import "bootstrap/scss/bootstrap";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {   
  font-family: "Orbitron", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $white;
  background-color: $dark-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}