@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

/* Default reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers */
.custom-container {
  margin: 0 20px;
}

.custom-container h1:first-child,
.custom-container h2:first-child,
.custom-container h3:first-child,
.custom-container h4:first-child,
.custom-container p:first-child {
    margin-top: 0;
}

/* Colors */
$black: #000;
$white: #fff;
$gray: #333;
$red: #f00;
$blue: #4087a5;
$purple: #b4649c;
$purple2: #9b4b83;
$purple3: #a4508b;
$pink: #fd746c;
$warm-pink: #fc4036;

$border-color: #ddd;
$dark-bg: #242424;

/* Gradients */
$gradient1: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
$gradient2: linear-gradient(90deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
$blue-gradient: linear-gradient(to top,
                            #0f2027 0%,     /* deep navy blue */
                            #203a43 50%,    /* steel blue */
                            #2c5364 100%
                            );


/* Planet Colors */
$solar-flare: #ff5e00;
$solar-flare2: #802f00;

$starlight-rose: #a58abf;
$starlight-rose2: #815ba4;

$ion-blue: #6b9ecb;
$ion-blue2: #2e5c84;

$corefire-green: #48d597;    
$corefire-green2: #1f5a3f; 

/* Typography Styles */
$sans-serif: "Outfit", sans-serif;
$serif: "Domine", serif;

h1, h2, h3, h4, h5, h6 {
    font-family: $sans-serif;
}

p, li, blockquote {
    font-family: $serif;
    line-height: 2;
    font-size: 18px;
}

h2 .rocketIcon {
    transform: rotate(90deg);
    margin-left: 10px;
    width: 40px;
    height: auto;
}

strong {
    font-weight: 800;
}

a:not(button) {
    color: $white;
}

@media (min-width: 769px) {

    p, li, blockquote {
        font-size: 20px;
    }
}